
<!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="utf-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="description" content="">

  <meta name="author" content="">

  <link href="https://i.ibb.co/dt8rkyR/IMG-20210331-WA0000.jpg" rel="shortcut icon" type="image/png">

  <title>Rest API - Meiky</title>

  <iframe src="vendor/audiolu.mp3" hidden="hidden" allow="autoplay"; encrypt-media></iframe>

  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">

  <link href="css/ruang-admin.min.css" rel="stylesheet">

<script src="https://static.cbox.ws/embed/1.js" async></script>

 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<body id="page-top" onload="getvisitor();">

  <div id="wrapper">

    <!-- Sidebar -->

    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">

      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="https://i.ibb.co/jZrYHqz/logo2.jpg">

        <div class="sidebar-brand-icon">

        	<img src="https://i.ibb.co/dt8rkyR/IMG-20210331-WA0000.jpg">

        </div>

        <div class="sidebar-brand-text mx-3">Meiky API</div>

      </a>

      <hr class="sidebar-divider my-0">

      <li class="nav-item active">

        <a class="nav-link" href="index.html">

          <i class="fas fa-fw fa-code"></i>

          <span>Beranda</span></a>

      </li>

      <hr class="sidebar-divider">

      <div class="sidebar-heading">

        API Features

      </div>

      <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"

          aria-expanded="true" aria-controls="collapseBootstrap">

          <i class="fas fa-fw fa-arrow-down"></i>

          <span>Social Media API</span>

        </a>

        <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">

          <div class="bg-white py-2 collapse-inner rounded">

            <h6 class="collapse-header">Media Features</h6>

            <a class="collapse-item" href="api/ytmp3?link=https://youtu.be/gVqcUi9tpCw&apikey=YOUR_APIKEY">YouTube Audio</a>

            <a class="collapse-item" href="api/dlsoundcloud?url=https://m.soundcloud.com/swellism/im-sorry-feat-shiloh-dynasty&apikey=YOUR_APIKEY">Soundcloud Downloader</a>

            <a class="collapse-item" href="api/ytmp4?link=https://youtu.be/gVqcUi9tpCw&apikey=YOUR_APIKEY">YouTube Video</a>

            <a class="collapse-item" href="api/ytplay?judul=Shiloh&apikey=YOUR_APIKEY">YouTube Play</a>

            <a class="collapse-item" href="api/tiktod/?url=https://vt.tiktok.com/ZSJY8dTq4/&apikey=YOUR_APIKEY">Tiktok Downloader</a>

            <a class="collapse-item" href="api/tiktod/stalk/?username=Username&apikey=YOUR_APIKEY">Tiktok Stalk</a>

            <a class="collapse-item" href="api/githubstalk?username=rizkiadiass&apikey=YOUR_APIKEY">Github Stalk</a>

            <a class="collapse-item" href="api/igstalk?username=rizkiadiasa&apikey=YOUR_APIKEY">Instagram Stalk</a>

            <a class="collapse-item" href="api/instagram?link=https://www.instagram.com/p/CMoAMgdDn69/?utm_source=ig_web_copy_link&apikey=YOUR_APIKEY">Instagram Downloader</a>

            <a class="collapse-item" href="api/igdl?link=https://www.instagram.com/p/CMoAMgdDn69/?utm_source=ig_web_copy_link&apikey=Your_apikey">Instagram Downloader 2</a>

            <a class="collapse-item" href="api/asupan?apikey=YOUR_APIKEY">Random Asupan</a>

            </div>

        </div>

      </li>

      <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseIslamic" aria-expanded="true"

          aria-controls="collapseIslamic">

          <i class="fas fa-fw fa-table"></i>

          <span>Islamic Features</span>

        </a>

        <div id="collapseIslamic" class="collapse" aria-labelledby="headingIslamic" data-parent="#accordionSidebar">

          <div class="bg-white py-2 collapse-inner rounded">

            <h6 class="collapse-header">Islamic  API</h6>

            <a class="collapse-item" href="api/hadits?kitab=bukhari&nomor=52&apikey=YOUR_APIKEY">Hadits Shahih</a>

            <a class="collapse-item" href="api/quran?surah=1&ayat=2&apikey=YOUR_APIKEY">Al Qur'an</a>

            <a class="collapse-item" href="api/muslim/tahlil?apikey=YOUR_APIKEY">Doa Tahlil</a>

            <a class="collapse-item" href="api/muslim/wirid?apikey=YOUR_APIKEY">Doa Wirid</a>

            <a class="collapse-item" href="api/muslim/asmaulhusna?apikey=YOUR_APIKEY">Asmaul Husna</a>

            <a class="collapse-item" href="api/muslim/doaharian?apikey=YOUR_APIKEY">Doa Harian</a>

            <a class="collapse-item" href="api/muslim/ayatkursi?apikey=YOUR_APIKEY">Ayat Kursi</a>

            <a class="collapse-item" href="api/kisahnabi?nabi=muhammad&apikey=YOUR_APIKEY">Kisah Nabi</a>

            <a class="collapse-item" href="api/muslim/niatshalat?apikey=YOUR_APIKEY">Niat Shalat</a>

            <a class="collapse-item" href="api/muslim/bacaanshalat?apikey=YOUR_APIKEY">Bacaan Shalat</a>

            <a class="collapse-item" href="api/jadwalshalat?kota=jakartautara&apikey=YOUR_APIKEY">Jadwal Shalat</a>

          </div>

        </div>

      </li>

      <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSearch" aria-expanded="true"

          aria-controls="collapseSearch">

          <i class="fas fa-fw fa-search"></i>

          <span>Search API</span>

        </a>

        <div id="collapseSearch" class="collapse" aria-labelledby="headingSearch" data-parent="#accordionSidebar">

          <div class="bg-white py-2 collapse-inner rounded">

            <h6 class="collapse-header">Search API</h6>

            <a class="collapse-item" href="api/googleimg?q=WhatsApp&apikey=Your_apikey">Search Google Img</a>

            <a class="collapse-item" href="api/playstore?q=WhatsApp&apikey=Your_Apikey">Play Store Apk</a>

            <a class="collapse-item" href="api/ytsearch?judul=Shiloh&apikey=YOUR_APIKEY">YouTube Search</a>

            <a class="collapse-item" href="api/jadwal-bioskop?apikey=YOUR_APIKEY">Jadwal Bioskop</a>

             <a class="collapse-item" href="api/pinterest?search=Peler&apikey=Your_Apikey">Pinterest Search</a>

            <a class="collapse-item" href="api/shopee?search=RTX&apikey=Your_Apikey">Shopee Search (beta)</a>

           </div>

         </div>

        </li>

       <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseKodepos" aria-expanded="true"

          aria-controls="collapseKodepos">

          <i class="fas fa-fw fa-search"></i>

          <span>Images API</span>

        </a>

        <div id="collapseKodepos" class="collapse" aria-labelledby="headingKodepos" data-parent="#accordionSidebar">

          <div class="bg-white py-2 collapse-inner rounded">

            <h6 class="collapse-header">Images API</h6>

            <a class="collapse-item" href="api/wallpaper/teknologi?apikey=YOUR_APIKEY">Wallpaper Teknologi</a>

            <a class="collapse-item" href="api/wallpaper/programming?apikey=YOUR_APIKEY">Wallpaper Programming</a>

            <a class="collapse-item" href="api/wallpaper/cyberspace?apikey=YOUR_APIKEY">Wallpaper CyberSpace</a>

            <a class="collapse-item" href="api/wallpaper/muslim?apikey=YOUR_APIKEY">Wallpaper Muslim</a>

            <a class="collapse-item" href="api/wallpaper/pegunungan?apikey=YOUR_APIKEY">Wallpaper Mountain View</a>

            </div>

            </div>

            </li>

      <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGithub"

          aria-expanded="true" aria-controls="collapseGithub">

          <i class="fas fa-fw fa-book"></i>

          <span>Random API</span>

        </a>

        <div id="collapseGithub" class="collapse" aria-labelledby="headingGithub" data-parent="#accordionSidebar">

          <div class="bg-white py-2 collapse-inner rounded">

            <h6 class="collapse-header">Random API</h6>

            <a class="collapse-item" href="api/randomaesthetic?apikey=Your_apikey">Random Aesthetic Video</a>

            <a class="collapse-item" href="api/randomquote?apikey=YOUR_APIKEY">Quotes</a>

            <a class="collapse-item" href="api/randomquote/muslim?apikey=YOUR_APIKEY">Quotes Islami</a>

            <a class="collapse-item" href="api/quotes/kanye?apikey=YOUR_APIKEY">Quotes Kanye</a>

            <a class="collapse-item" href="api/random/asmaulhusna?apikey=YOUR_APIKEY">Asmaul Husna</a>

            <a class="collapse-item" href="api/random/meme?apikey=YOUR_APIKEY">Meme</a>

            <a class="collapse-item" href="api/katailham?apikey=Your_apikey">Kata Ilham</a>

            <a class="collapse-item" href="api/citacita?apikey=Your_apikey">Cita Cita Audio</a>

            <a class="collapse-item" href="api/fmylife?apikey=Your_Apikey">Fuck My Life</a>

            <a class="collapse-item" href="api/blackpink?apikey=Your_Apikey">Random Blackpink</a>

            <a class="collapse-item" href="api/exo?apikey=YOUR_APIKEY">Random Exo</a>

            <a class="collapse-item" href="api/bts?apikey=YOUR_APIKEY">Random BTS</a>

            <a class="collapse-item" href="api/faktaunik?apikey=YOUR_APIKEY">Fakta Unik</a>

            <a class="collapse-item" href="api/pantun?apikey=YOUR_APIKEY">Random Pantun</a>

          </div>

        </div>

      </li>

      <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePhoto" aria-expanded="true"

          aria-controls="collapsePhoto">

          <i class="fas fa-fw fa-table"></i>

          <span>Photo Editor API</span>

        </a>

        <div id="collapsePhoto" class="collapse" aria-labelledby="headingText" data-parent="#accordionSidebar">

          <div class="bg-white py-2 collapse-inner rounded">

            <h6 class="collapse-header">Photo Editor API</h6>

            <a class="collapse-item" href="api/burningfire?img=https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg&apikey=YOUR_APIKEY">Burning Fire</a>

            <a class="collapse-item" href="api/glitcheffect?img=https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg&apikey=YOUR_APIKEY">Glitch Effect</a>

            <a class="collapse-item" href="api/firepaper?img=https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg&apikey=YOUR_APIKEY">Fire Papper</a>

            <a class="collapse-item" href="api/iphoneeffect?img=https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg&apikey=YOUR_APIKEY">Picture In Iphone</a>

            <a class="collapse-item" href="api/sketcheffect?img=https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg&apikey=YOUR_APIKEY">Sketch Effect</a>

            <a class="collapse-item" href="api/forestexposure?img=https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg&text=Meiky&apikey=YOUR_APIKEY">Forest Exposure</a>

             <a class="collapse-item" href="api/crossgun?img=https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg&apikey=YOUR_APIKEY">Cross Gun Meme</a>

            <a class="collapse-item" href="api/wanted?img=https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg&text=Wanted&text2=Meiky&apikey=YOUR_APIKEY">Wanted Maker</a>

            <a class="collapse-item" href="api/fpsgame?img=https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg&text=Wanted&text2=Meiky&apikey=YOUR_APIKEY">FPS Game Maker</a>

            <a class="collapse-item" href="api/loltext?img=https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg&text=Meiky&apikey=YOUR_APIKEY">League Of Legend</a>

            <a class="collapse-item" href="api/pencil?img=https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg&apikey=YOUR_APIKEY">Pencil Effect</a>

            <a class="collapse-item" href="api/toileteffect?img=https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg&apikey=YOUR_APIKEY">Toilet Effect</a>

           <a class="collapse-item" href="api/grandtheftauto?img=https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg&apikey=YOUR_APIKEY">GTA V Effect</a>

            <a class="collapse-item" href="api/nightbeach?img=https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg&apikey=YOUR_APIKEY">Night Beach Effect</a>

            <a class="collapse-item" href="api/raindrops?img=https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg&apikey=YOUR_APIKEY">Rain Drops Effect</a>

            <a class="collapse-item" href="api/animestyle?img=https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg&apikey=YOUR_APIKEY">Anime Style Effect</a>

            <a class="collapse-item" href="api/burningphoto?img=https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg&apikey=YOUR_APIKEY">Burning Photo With Lighter Effect</a>

          </div>

        </div>

      </li>

      <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseText" aria-expanded="true"

          aria-controls="collapseText">

          <i class="fas fa-fw fa-table"></i>

          <span>Photooxy API</span>

        </a>

        <div id="collapseText" class="collapse" aria-labelledby="headingText" data-parent="#accordionSidebar">

          <div class="bg-white py-2 collapse-inner rounded">

            <h6 class="collapse-header">Photooxy API</h6>

            <a class="collapse-item" href="api/wanted?img=https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg&text=Wanted&text2=Meiky&apikey=YOUR_APIKEY">Wanted Maker</a>

            <a class="collapse-item" href="api/textmaker?text=halo&text2=hai&theme=glitch&apikey=YOUR_APIKEY">Glitch</a>

            <a class="collapse-item" href="api/shadowtext?text=Meiky&apikey=YOUR_APIKEY">Shadow Text</a>

            <a class="collapse-item" href="api/narutobanner?text=Meiky&apikey=YOUR_APIKEY">Naruto Banner</a>

            <a class="collapse-item" href="api/smokeeffect?text=Meiky&apikey=YOUR_APIKEY">Smoke Effect</a>

            <a class="collapse-item" href="api/burnpapper?text=Meiky&apikey=YOUR_APIKEY">Burn Papper</a>

            <a class="collapse-item" href="api/harrytext?text=Meiky&apikey=YOUR_APIKEY">Harry Potter</a>

            <a class="collapse-item" href="api/flamingtext?text=Meiky&apikey=YOUR_APIKEY">Flaming Text</a>

            <a class="collapse-item" href="api/chrometext?text=Meiky&apikey=YOUR_APIKEY">Chrome Text</a>

            <a class="collapse-item" href="api/rainbowtext?text=Meiky&apikey=YOUR_APIKEY">Rainbow Text</a>

            <a class="collapse-item" href="api/vintagetext?text=Meiky&apikey=YOUR_APIKEY">Vintage Text</a>

            <a class="collapse-item" href="api/writestars?text=Meiky&apikey=YOUR_APIKEY">Write in the sky Text</a>

            <a class="collapse-item" href="api/glowingtext?text=Meiky&apikey=YOUR_APIKEY">Glowing Text</a>

            <a class="collapse-item" href="api/gravititext?text=Meiky&apikey=YOUR_APIKEY">Graviti Text</a>

            <a class="collapse-item" href="api/wolfmetal?text=Meiky&apikey=YOUR_APIKEY">Wolf Metal</a>

            <a class="collapse-item" href="api/goldenroses?text=Meiky&apikey=YOUR_APIKEY">Golden Roses</a>

            <a class="collapse-item" href="api/textmaker?text=halo&text2=hai&text3=gwganteng&theme=google-suggestion&apikey=YOUR_APIKEY">Google Suggestion</a>

            <a class="collapse-item" href="api/textmaker/game?text=halo&text2=hai&theme=pubg&apikey=YOUR_APIKEY">PUBG</a>

            <a class="collapse-item" href="api/textmaker/game?text=halo&text2=hai&theme=battlefield&apikey=YOUR_APIKEY">BattleField</a>

            <a class="collapse-item" href="api/textmaker/senja?text=Zhirrr&theme=coffee-cup&apikey=YOUR_APIKEY">Coffee Cup</a>

            <a class="collapse-item" href="api/textmaker/senja?text=Zhirrr&theme=coffee-cup2&apikey=YOUR_APIKEY">Coffee Cup 2</a>

            <a class="collapse-item" href="api/smokyneon?text=Meiky&apikey=YOUR_APIKEY">Smoky Neon</a>

            <a class="collapse-item" href="api/textmaker/metallic?text=Zhirrr&theme=neon&apikey=YOUR_APIKEY">Neon</a>

            <a class="collapse-item" href="api/textmaker/metallic?text=Zhirrr&theme=glow&apikey=YOUR_APIKEY">Glow</a>

            <a class="collapse-item" href="api/textmaker/alam?text=Zhirrr&theme=summer&apikey=YOUR_APIKEY">Summer</a>

            <a class="collapse-item" href="api/textmaker/alam?text=Zhirrr&theme=flower&apikey=YOUR_APIKEY">Flower</a>

          </div>

        </div>

      </li>

      <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAnimetop" aria-expanded="true"

          aria-controls="collapseAnimetop">

          <i class="fas fa-fw fa-bullseye"></i>

          <span>Anime Top</span>

        </a>

        <div id="collapseAnimetop" class="collapse" aria-labelledby="headingAnime" data-parent="#accordionSidebar">

          <div class="bg-white py-2 collapse-inner rounded">

            <h6 class="collapse-header">Anime/Manga Top</h6>

            <a class="collapse-item" href="api/anitopmusic?apikey=YOUR_APIKEY">Top Anime Music Chart</a>

            <a class="collapse-item" href="api/anitopcouple?apikey=YOUR_APIKEY">Top Anime Couple</a>

            <a class="collapse-item" href="api/anitopmale?apikey=YOUR_APIKEY">Top Male Anime Character</a>

            <a class="collapse-item" href="api/anitopfemale?apikey=YOUR_APIKEY">Top Female Anime Character</a>

            <a class="collapse-item" href="api/anitopopening?apikey=YOUR_APIKEY">Top Opening Song</a>

            <a class="collapse-item" href="api/anitopending?apikey=YOUR_APIKEY">Top Ending Song</a>

          </div>

        </div>

      </li>

      <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAnime" aria-expanded="true"

          aria-controls="collapseAnime">

          <i class="fas fa-fw fa-bullseye"></i>

          <span>Anime/Manga API</span>

        </a>

        <div id="collapseAnime" class="collapse" aria-labelledby="headingAnime" data-parent="#accordionSidebar">

          <div class="bg-white py-2 collapse-inner rounded">

            <h6 class="collapse-header">Anime/Manga Features</h6>

            <a class="collapse-item" href="api/ppcouple?apikey=YOUR_APIKEY">Couple Profile Picture</a>

            <a class="collapse-item" href="api/samehadaku?title=Re:zero&page=1&apikey=YOUR_APIKEY">Samehadaku</a>

            <a class="collapse-item" href="api/anime/kusonime?search=planetarian&apikey=YOUR_APIKEY">Kusonime</a>

            <a class="collapse-item" href="api/anime/otakudesu?search=Shingeki No Kyojin&apikey=YOUR_APIKEY">Otakudesu</a>

            <a class="collapse-item" href="api/manga?search=kimetsu no yaiba&apikey=YOUR_APIKEY">Manga</a>

            <a class="collapse-item" href="api/waifu?apikey=YOUR_APIKEY">Random Waifu</a>

            <a class="collapse-item" href="api/loli?apikey=YOUR_APIKEY">Random Loli</a>

            <a class="collapse-item" href="api/husbu?apikey=YOUR_APIKEY">Random Husbu</a>

            <a class="collapse-item" href="api/nekonime?apikey=YOUR_APIKEY">Random Nekonime</a>

            <a class="collapse-item" href="api/wallpaper/desktop?apikey=YOUR_APIKEY">Wallpaper Desktop</a>

            <a class="collapse-item" href="api/wallpaper/mobile?apikey=YOUR_APIKEY">Wallpaper Mobile</a>

            <a class="collapse-item" href="api/nsfwneko?apikey=YOUR_APIKEY">NSFW Neko</a>

            <a class="collapse-item" href="api/nsfwmaid?apikey=YOUR_APIKEY">NSFW Maid</a>

            <a class="collapse-item" href="api/nsfwfeet?apikey=YOUR_APIKEY">NSFW Feet</a>

            <a class="collapse-item" href="api/nsfwglasses?apikey=YOUR_APIKEY">NSFW Glasses</a>

            <a class="collapse-item" href="api/nsfwpanties?apikey=YOUR_APIKEY">NSFW Panties</a>

            <a class="collapse-item" href="api/nsfwschool?apikey=YOUR_APIKEY">NSFW School</a>

            <a class="collapse-item" href="api/nsfwtentacles?apikey=YOUR_APIKEY">NSFW Tentacles</a>

            <a class="collapse-item" href="api/nsfwthighs?apikey=YOUR_APIKEY">NSFW Thighs</a>

            <a class="collapse-item" href="api/yuri?apikey=YOUR_APIKEY">Yuri</a>

            <a class="collapse-item" href="api/bdsm?apikey=YOUR_APIKEY">Bdsm</a>

            <a class="collapse-item" href="api/hentai?apikey=YOUR_APIKEY">Random Hentai</a>

          </div>

        </div>

      </li>

      <li class="nav-item">

                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseGames" aria-expanded="true" aria-controls="collapseForm">

                    <i class="app-menu__icon fa fa-laptop"></i>

                    <span>Games API</span>

                </a>

                <div id="collapseGames" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">

                    <div class="py-2 collapse-inner rounded">

                        <h6 class="collapse-header">Games Features</h6>

            <a class="collapse-item" href="/api/texttoimg?text=Halo&apikey=YOUR_APIKEY">Text To Img</a>

            <a class="collapse-item" href="/api/herodetail?hero=akai&apikey=YOUR_APIKEY">Detail Hero Mobile Legend</a>

            <a class="collapse-item" href="/api/herolist?apikey=YOUR_APIKEY">List Hero ML</a>

            <a class="collapse-item" href="/api/kuis/caklontong?apikey=YOUR_APIKEY">Cak Lontong</a>

            <a class="collapse-item" href="/api/simi?text=Halo&lang=id&apikey=YOUR_APIKEY">Simi Simi</a>

            <a class="collapse-item" href="/api/kuis/tebakgambar?apikey=YOUR_APIKEY">Tebak Gambar</a>

            <a class="collapse-item" href="/api/jodoh?nama1=Meiky&nama2=Riyan&apikey=YOUR_APIKEY">Ramalan Jodoh</a>

            <a class="collapse-item" href="/api/artinama?nama1=Meiky&apikey=YOUR_APIKEY">Arti Nama</a>

            </div>

          </div>

        </li>

      <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseinformation" aria-expanded="true"

          aria-controls="collapseinformation">

          <i class="fab fa-fw fa-wpforms"></i>

          <span>Information API</span>

        </a>

        <div id="collapseinformation" class="collapse" aria-labelledby="headingother" data-parent="#accordionSidebar">

          <div class="bg-white py-2 collapse-inner rounded">

            <h6 class="collapse-header">Menu</h6>

            <a class="collapse-item" href="api/filmapik?search=Avengers&apikey=YOUR_APIKEY">Film Apik</a>

            <a class="collapse-item" href="api/lk21?search=Avengers&apikey=YOUR_APIKEY">LK21</a>

            <a class="collapse-item" href="api/berita?apikey=YOUR_APIKEY">Berita</a>

            <a class="collapse-item" href="api/berita2?apikey=YOUR_APIKEY">CNBC News</a>

            <a class="collapse-item" href="api/berita3?apikey=YOUR_APIKEY">Republika News</a>

            <a class="collapse-item" href="api/berita5?apikey=YOUR_APIKEY">Okezone News</a>

            <a class="collapse-item" href="api/berita6?apikey=YOUR_APIKEY">BCC News</a>

            <a class="collapse-item" href="api/berita4?apikey=YOUR_APIKEY">Tempo News</a>

            <a class="collapse-item" href="api/resep?q=Sambal&apikey=YOUR_APIKEY">Resep Makanan</a>

            <a class="collapse-item" href="api/spekhp?search=Iphone 6&apikey=YOUR_APIKEY">Spek hape</a>

          </div>

        </div>

      </li>

     <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsekartun" aria-expanded="true"

          aria-controls="collapsekartun">

          <i class="fab fa-fw fa-wpforms"></i>

          <span>Kartun API</span>

        </a>

        <div id="collapsekartun" class="collapse" aria-labelledby="headingother" data-parent="#accordionSidebar">

          <div class="bg-white py-2 collapse-inner rounded">

            <h6 class="collapse-header">Kartun Menu</h6>

            <a class="collapse-item" href="api/kartun/search?film=Spongebob&apikey=YOUR_APIKEY">Search Kartun</a>

            <a class="collapse-item" href="api/genre/movie?apikey=YOUR_APIKEY">Movie Kartun</a>

            <a class="collapse-item" href="api/genre/drama?apikey=YOUR_APIKEY">Drama Kartun</a>

            <a class="collapse-item" href="api/genre/action?apikey=YOUR_APIKEY">Kartun Action</a>

            <a class="collapse-item" href="api/genre/adventure?apikey=YOUR_APIKEY">Kartun Adventure</a>

            <a class="collapse-item" href="api/genre/comedy?apikey=YOUR_APIKEY">Kartun Comedy</a>

            <a class="collapse-item" href="api/genre/military?apikey=YOUR_APIKEY">Kartun Military</a>

      <li class="nav-item">

        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseother" aria-expanded="true"

          aria-controls="collapseother">

          <i class="fab fa-fw fa-wpforms"></i>

          <span>Other API</span>

        </a>

        <div id="collapseother" class="collapse" aria-labelledby="headingother" data-parent="#accordionSidebar">

          <div class="bg-white py-2 collapse-inner rounded">

            <h6 class="collapse-header">Other Menu</h6>

            <a class="collapse-item" href="api/nulis?text=ikyyGans&apikey=YOUR_APIKEY">Nulis Buku</a>

            <a class="collapse-item" href="api/pastebin?query=case&apikey=YOUR_APIKEY">Pastebin</a>

            <a class="collapse-item" href="api/infonpm?query=ikyy-api&hostname=ikyy&apikey=YOUR_APIKEY">Info NPM</a>

            <a class="collapse-item" href="api/infogempa?apikey=YOUR_APIKEY">Info Gempa</a>

            <a class="collapse-item" href="api/cuaca?kabupaten=kab bungo&apikey=YOUR_APIKEY">Info Cuaca</a>

            <a class="collapse-item" href="api/covidindo?apikey=YOUR_APIKEY">Covid Indo</a>

            <a class="collapse-item" href="api/covidworld?apikey=YOUR_APIKEY">Covid World</a>

            <a class="collapse-item" href="api/short/tiny?url=google.com&apikey=YOUR_APIKEY">Short Link</a>

            <a class="collapse-item" href="api/wikipedia?search=jembatan&apikey=YOUR_APIKEY">Wikipedia</a>

            <a class="collapse-item" href="api/fakedata?country=en&apikey=YOUR_APIKEY">Fake Data</a>

            <a class="collapse-item" href="api/hilih?kata=aku kan ganteng banget&apikey=YOUR_APIKEY">Kata Hilih</a>

            <a class="collapse-item" href="api/liriklagu?judul=sayang&apikey=YOUR_APIKEY">Lirik Lagu</a>

            <a class="collapse-item" href="api/chordlagu?lagu=sayang&apikey=YOUR_APIKEY">Chord Lagu</a>

            <a class="collapse-item" href="api/kbbi?kata=pohon&apikey=YOUR_APIKEY">KBBI</a>

            <a class="collapse-item" href="api/kodepos?kota=jakarta&apikey=YOUR_APIKEY">Kode Pos</a>

            <a class="collapse-item" href="api/translate?kata=hi&apikey=YOUR_APIKEY">Translate</a>

            <a class="collapse-item" href="api/gabut?apikey=YOUR_APIKEY">Gabut</a>

          </div>

        </div>

      </li>

      <hr class="sidebar-divider">

      <div class="sidebar-heading">

<div class="version"><b>Contact me</b></div>

      </div>

      <li class="nav-item">

          

            <a class="nav-link collapsed" href="/about">

            <i class="fas fa-fw fa-info"></i>

                    <span>About Me</span>

            </a>

      </li>

      <li class="nav-item">

          

            <a class="nav-link collapsed" href="https://wa.me/6285215319934">

            <i class="fab fa-fw fa-whatsapp"></i>

                    <span>WhatsApp</span>

            </a>

      </li>

      <li class="nav-item">

            <a class="nav-link collapsed" href="https://github.com/rizkiadiasa">

            <i class="fab fa-fw fa-github"></i>

                    <span>Github</span>

            </a>

      </li>

      <li class="nav-item">

            <a class="nav-link collapsed" href="https://instagram.com/ikyy_ads">

            <i class="fab fa-fw fa-instagram"></i>

                    <span>Instagram</span>

            </a>

      </li>

      <hr class="sidebar-divider">

      <div class="version"><b>Made With ♥️ By Ikyy ads</b></div>

    </ul>

    <!-- Sidebar -->

    <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">

        <!-- TopBar -->

        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">

          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">

            <i class="fa fa-bars"></i>

          </button>

          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
                <a class="nav-link" href="https://www.Instagram.com/ikyy_ads">
                    <i class="fab fa-fw fa-instagram"></i>
                    <span>Instagram</span>
                </a>
            </li>

            <li class="nav-item dropdown no-arrow">

              

              </a>

              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"

                aria-labelledby="searchDropdown">

                <form class="navbar-search">

                  <div class="input-group">

                    <input type="text" class="form-control bg-light border-1 small" placeholder="Search for..."

                      aria-label="Search" aria-describedby="basic-addon2" style="border-color: #00008B;">

                    <div class="input-group-append">

                      <button class="btn btn-primary" type="button">

                        <i class="fas fa-search fa-sm"></i>

                      </button>

                    </div>

                  </div>

                </form>

              </div>

            </li>

            <li class="nav-item dropdown no-arrow mx-1">

              </a>

              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"

                aria-labelledby="alertsDropdown">

                <h6 class="dropdown-header">

                  Alerts Center

                </h6>

                <a class="dropdown-item d-flex align-items-center" href="#">

                  <div class="mr-3">

                    <div class="icon-circle bg-primary">

                      <i class="fas fa-file-alt text-white"></i>

                    </div>

                  </div>

                  <div>

                    <div class="small text-gray-500">December 12, 2019</div>

                    <span class="font-weight-bold">A new monthly report is ready to download!</span>

                  </div>

                </a>

                <a class="dropdown-item d-flex align-items-center" href="#">

                  <div class="mr-3">

                    <div class="icon-circle bg-success">

                      <i class="fas fa-donate text-white"></i>

                    </div>

                  </div>

                  <div>

                    <div class="small text-gray-500">December 7, 2019</div>

                    $290.29 has been deposited into your account!

                  </div>

                </a>

                <a class="dropdown-item d-flex align-items-center" href="#">

                  <div class="mr-3">

                    <div class="icon-circle bg-warning">

                      <i class="fas fa-exclamation-triangle text-white"></i>

                    </div>

                  </div>

                  <div>

                    <div class="small text-gray-500">December 2, 2019</div>

                    Spending Alert: We've noticed unusually high spending for your account.

                  </div>

                </a>

                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>

              </div>

            </li>

            <li class="nav-item dropdown no-arrow mx-1">

              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"

                aria-haspopup="true" aria-expanded="false">

              </a>

              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"

                aria-labelledby="messagesDropdown">

              </div>

            </li>

            <li class="nav-item dropdown no-arrow mx-1">

              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"

                aria-haspopup="true" aria-expanded="false">

                <i class="fas fa-tasks fa-fw"></i>

                <span class="badge badge-success badge-counter">1</span>

              </a>

              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"

                aria-labelledby="messagesDropdown">

                <h6 class="dropdown-header">

                  Programming Skill

                </h6>

                <a class="dropdown-item align-items-center" href="#">

                  <div class="mb-3">

                    <div class="small text-gray-500">Ngemis, Copas, Recode

                      <div class="small float-right"><b>99%</b></div>

                    </div>

                    <div class="progress" style="height: 12px;">

                      <div class="progress-bar bg-success" role="progressbar" style="width: 99%" aria-valuenow="99"

                        aria-valuemin="0" aria-valuemax="100"></div>

                    </div>

                  </div>

                </a>

                <a class="dropdown-item align-items-center" href="#">

                  <div class="mb-3">

                    <div class="small text-gray-500">Javascript

                      <div class="small float-right"><b>8%</b></div>

                    </div>

                    <div class="progress" style="height: 12px;">

                      <div class="progress-bar bg-danger" role="progressbar" style="width: 1%" aria-valuenow="1"

                        aria-valuemin="0" aria-valuemax="100"></div>

                    </div>

                  </div>

                </a>

              </div>

            </li>

            <div class="topbar-divider d-none d-sm-block"></div>

            <li class="nav-item dropdown no-arrow">

              <a class="nav-link dropdown-toggle" href="https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg" id="userDropdown" role="button" data-toggle="dropdown"

                aria-haspopup="true" aria-expanded="false">

                <img class="img-profile rounded-circle" src="https://i.ibb.co/cTZ6jv1/7d7d953fe4da.jpg" style="max-width: 85px">

                <span class="ml-2 d-none d-lg-inline text-white small">Maman Ketoprak</span>

              </a>

              </div>

            </li>

          </ul>

        </nav>

    <!-- Topbar -->

<div class="col-xl-3 col-md-6 mb-4">

<div class="card h-100">

<div class="card-body">

<div class="row align-items-center">

<div class="col mr-2">

<div class="text-xs font-weight-bold text-uppercase mb-1">Total Feature</div>

<div class="h5 mb-0 font-weight-bold text-gray-800">100</div>

<div class="mt-2 mb-0 text-muted text-xs">

<span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 98.2%</span>

<span>Since last month</span>

</div>

</div>

<div class="col-auto">

  <i class="fas fa-calendar fa-2x text-primary"></i>

  </div>

  </div>

  </div>

  </div>

  </div>

  <div class="col-xl-3 col-md-6 mb-4">

  <div class="card h-100">

  <div class="card-body">

  <div class="row align-items-center">

  <div class="col mr-2">

  <div class="text-xs font-weight-bold text-uppercase mb-1">Info</div>

  <div class="h5 mb-0 font-weight-bold text-gray-800">Menuju Tahun Baru</div>

  <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 

  <b id="time"></b><br></span>

  <div class="mt-2 mb-0 text-muted text-xs">

  </div>

  </div>

  <div class="col-auto">

  </div>

  </div>

  </div>

  </div>

  </div>

  <div class="col-xl-3 col-md-6 mb-4">
<div class="card h-100">
<div class="card-body">
<div class="row no-gutters align-items-center">
<div class="col mr-2">
<div class="text-xs font-weight-bold text-uppercase mb-1">Visitor</div>
<div class="h5 mb-0 font-weight-bold text-gray-800">
<div class="visitor" id="visitor">00</div>
</div>
<div class="mt-2 mb-0 text-muted text-xs">

</span>
<span>This web visitor</span>
</div>
</div>
<div class="col-auto">
<i class="fas fa-eye fa-2x text-primary"></i>
</div>
</div>
</div>
</div>
</div>

		<section class="section">

	        <div class="container">

	            <div class="columns">

	                <div class="column is-offset-4 is-4">

	                    

	                </div>

	            </div>

	        </div>

	    </section>

         <!-- Container Fluid-->

        <!-- Container Fluid-->

        <div class="container-fluid" id="container-wrapper">

      <!-- Attention -->

<div id="demo" class="alert alert-info alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span id="demo" aria-hidden="true">&times;</span>
              </button>
          <script>
  arrBulan = ["Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember"];
  var txt = "";
  txt += "<p><b>Browser CodeName</b>: " + navigator.appCodeName + "</p>";
  txt += "<p><b>Browser Name</b>: " + navigator.appName + "</p>";
  txt += "<p><b>Cookies Enabled</b>: " + navigator.cookieEnabled + "</p>";
  txt += "<p><b>Browser Online</b>: " + navigator.onLine + "</p>";
  txt += "<p><b>Platform</b>: " + navigator.platform + "</p>";
  txt += "<p><b>User-agent header</b>: " + navigator.userAgent + "</p>";
  var d = new Date();
  const jam = d.getHours();
  const menit = d.getMinutes();
  const detik = d.getSeconds();
  const tgl = d.getDate();
  const bln = d.getMonth();
  const thn = d.getFullYear();
  const bulan = arrBulan[bln]
  document.write(txt)
  document.write("Date : "+ jam +":"+ menit +":"+ detik +"~"+ tgl +"-"+ bulan +"-"+ thn +"<br>Welcome back!")
</script>
            </div>
</script>

<style>

.animated {

	background: #fff;

	color: #F00;

	-webkit-text-fill-color: transparent;

	-webkit-background-clip: text;

	font-size: 25px;

	font-family: Arial Black, Gadget, sans-serif;

	-webkit-text-stroke-width: 1px;

	-webkit-text-stroke-color: #FF0000;

	-webkit-animation: animatedBackground_c 2s infinite alternate;

}



@keyframes animatedBackground_c {

	0% {-webkit-text-stroke-color: #ff8b00}

	10% {-webkit-text-stroke-color: #e8ff00}

	20% {-webkit-text-stroke-color: #5dff00}

	30% {-webkit-text-stroke-color: #00ff2e}

	40% {-webkit-text-stroke-color: #00ffb9}

	50% {-webkit-text-stroke-color: #00b9ff}

	60% {-webkit-text-stroke-color: #002eff}

	70% {-webkit-text-stroke-color: #5d00ff}

	80% {-webkit-text-stroke-color: #e800ff}

	90% {-webkit-text-stroke-color: #ff008b}

	100% {-webkit-text-stroke-color: #ff0000}

}

</style>

<style>

.mengetik

{

	font-size: 15px;

	width: 250px;

	white-space:nowrap;

	overflow:hidden;

	-webkit-animation: ketik 5s steps(50, end);

	animation: ketik 5s steps(50, end);

}



@keyframes ketik{

		from { width: 0; }

}



@-webkit-keyframes ketik{

		from { width: 0; }

}

</style>

    <form action="/api/cekapikey">

      <div class="col-lg-6">

       <div class="card mb-4">

        <div class="card-header py-3">

         <div class="card-body">

          <h6 class="animated">Check Your Apikey</h6>

           <input type="text" class="form-control" placeholder="Your apikey" name="apikey" required>

            <button class="btn btn-danger btn-icon-split">

             <span class="icon text-white-50">

              <i class="fas fa-check"></i>

             </span>

             <span class="text">Check</span>

            </button>

         </div>

        </div>

       </div>



      <!-- Attention -->

          <div class="row">

            <div class="col-lg-6">

              <div class="card mb-4">

                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">

                <div class="card-body">

                  <h6><br>INFO<br><br>Apikey : MeikyApi<br><br>Costum apikey? Chat me via Whatsapp<br><br>Fitur NSFW akan terkunci saat Ramadhan datang<br></h6>

                  <h6><br>Jika anda menemukan bug langsung lapor ke <a href="https://wa.me/6283141727903">saya</a> oke!<br></h6>

                  <h6><br>Big Thanks To :<br><br>Lindow<br><br>Zahir</h6>

                </div>

              </div>

            </div> 

          </div>

          <!--Row-->



          <div class="row">

            <div class="col-lg-12 text-center">

              <p>Follow My Github <a href="https://github.com/rizkiadiasa"

                  class="btn btn-primary btn-sm" target="_blank"><i class="fab fa-fw fa-github"></i>&nbsp;GitHub</a></p>

            </div>

          </div>

        </div>

      <!-- Footer -->

      <footer class="sticky-footer bg-white">

        <div class="container my-auto">

          <div class="copyright text-center my-auto">

            <span>Copyright &copy; 2021 - Developed By

              <b><a href="https://github.com/rizkiadiasa" target="_blank">Meiky</a></b>

            </span>

          </div>

        </div>

      </footer>

      <!-- Footer -->

    </div>

  </div>

  <!-- Scroll to top -->

  <a class="scroll-to-top rounded" href="#page-top">

    <i class="fas fa-angle-up"></i>

  </a>

   <script src="vendor/jquery/jquery.min.js"></script>

  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <script src="js/ruang-admin.js"></script>

  <script src="vendor/chart.js/Chart.min.js"></script>

  <script src="js/demo/chart-area-demo.js"></script>  

</body>

<!--- Mau colong ya bang? ambil aja --->

<script>

Swal.fire({

  title: 'UPDATE',

  text: `Add Random asupan, Text To Img, Fix Bug Random Aesthetic Video, Fix Bug Tiktokdl, Fix Bug Info Gempa`,

  imageUrl: 'https://i.ibb.co/dt8rkyR/IMG-20210331-WA0000.jpg',

  imageWidth: 300,

  imageHeight: 300,

  imageAlt: 'Elaina Best Waifu :V'

})

.then((value) => { Swal.fire("INFO", "Apikey : MeikyApi, Costum Apikey? Chat Me Via Whatsapp :D", "");});

</script>

<script>
  function getvisitor(){
              var xhr = new XMLHttpRequest();
              var url = 'https://api.countapi.xyz/hit/ikyads.herokuapp.com/visits';
              xhr.onloadend = function(){
             data = JSON.parse(this.responseText);
  document.getElementById("visitor").textContent = data.value
              };
              xhr.open("GET", url, true);
              xhr.send();
  }
  </script>
			<script>
				// Akhir Hitungan Mundur
				var countDownDate = new Date("January 1, 2022 00:00:00").getTime();

				// Update Hitungan Mundur Setiap 1 Detik
				var x = setInterval(function() {

					// Mengambil Tanggal Dan Waktu
					var now = new Date().getTime();

					// Find the distance between now and the count down date
					var distance = countDownDate - now;

					// Kalkulator Waktu Hari, Jam, Menit, Detik 
					var days = Math.floor(distance / (1000 * 60 * 60 * 24));
					var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
					var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
					var seconds = Math.floor((distance % (1000 * 60)) / 1000);

					// Menampilkan Hasil Di Dalam element Menggunakan id="time"
					document.getElementById("time").innerHTML = days + "Hari  " + hours + "Jam " + minutes + "Menit " + seconds + "Detik ";

					// Ketika countdown timer sudah berakhir Maka Tulisan Berakhir
					if (distance < 0) {
						clearInterval(x);
						document.getElementById("time").innerHTML = "Berakhir";
					}
				}, 1000);
			</script>

</html>


</html>

